@page
@model ECommerce_Application.Pages.Dashboard.CreateModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Styles/dashboard.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid" style="margin-top:5vh;">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="Index">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="AllOrders">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="AllProducts">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <button> <a class="nav-link" asp-page="Create">Create New Product</a> </button>
                        </li>
                        <li class="nav-item">
                            <button> <a class="nav-link" asp-page="Picture">Upload New Picture</a> </button>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Product.Name" class="control-label"></label>
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.SKU" class="control-label"></label>
                        <input asp-for="Product.SKU" class="form-control" />
                        <span asp-validation-for="Product.SKU" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Price" class="control-label"></label>
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Description" class="control-label"></label>
                        <input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Breed" class="control-label"></label>
                        <input asp-for="Product.Breed" class="form-control" />
                        <span asp-validation-for="Product.Breed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Age" class="control-label"></label>
                        <input asp-for="Product.Age" class="form-control" />
                        <span asp-validation-for="Product.Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.SuperPower" class="control-label"></label>
                        <input asp-for="Product.SuperPower" class="form-control" />
                        <span asp-validation-for="Product.SuperPower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Color" class="control-label"></label>
                        <input asp-for="Product.Color" class="form-control" />
                        <span asp-validation-for="Product.Color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Quantity" class="control-label"></label>
                        <input asp-for="Product.Quantity" class="form-control" />
                        <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Category" class="control-label"></label>
                        <input asp-for="Product.Category" class="form-control" />
                        <span asp-validation-for="Product.Category" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Product.IsFeature" /> @Html.DisplayNameFor(model => model.Product.IsFeature)
                        </label>
                    </div>
                    @foreach (var item in Model.Blobs)
                    {
                        <section>
                            <input class="form-check-input" asp-for="Product.Image" type="radio" value="@item" />

                            <img style='width: 20%; display: block;  margin-left: auto;  margin-right: auto; border-radius: 20px;' src="@item" />
                        </section>

                    }
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a style="color:white" class="btn btn-danger" asp-page="Index">Back to List</a>
        </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="~/JS/jquery-slim.min.js"><\/script>')</script>
        <script src="../../../../assets/js/vendor/popper.min.js"></script>
        <script src="../../../../dist/js/bootstrap.min.js"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
</body>
</html>
