@model ECommerce_Application.Models.DTO.CerealDTO

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <title>WELCOME TO OUR PRODUCTS WEBSITE</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>
<body>
    <h1>WELCOME TO OUR PRODUCTS WEBSITE</h1>
    <a href="Products">PRODUCTS</a>
</body>

</html>
