@page
@model ECommerce_Application.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";

}


    <head>
        <title>Login</title>
        <link href="~/Styles/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/Styles/signin.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label asp-for="@Model.Login.Email" class="sr-only">Email address</label>
            <input asp-for="@Model.Login.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label asp-for="@Model.Login.Password" class="sr-only">Password</label>
            <input asp-for="@Model.Login.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </body>